<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPlantJournal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <span class="login"></span>
        <h2>myPlantJournal</h2>
        <ul>
            <li>
                <a href="">addPlant</a>
            </li>
            <li>
                <a href="">myGardens</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </header>
    <main>
        <section class="primaryGarden">
            <h1 class="primaryH2">Primary Garden</h1>
                <!-- journal-->
            <section class="journal">
                    <!-- LEFT PAGE-->
                <section class="infoDisplay">
                    <span class="infoItem name">Name: </span>
                    <span class="infoItem plantedOn">Planted on: </span>
                    <span class="infoItem lastWater">Last watered:</span>
                    <span class="infoItem notes">Notes: </span>
                    <span class="infoItem photoAlbum">Album</span>
                    <img class="albumImg" src="" alt="">
                </section>
                <!-- RIGHT PAGE-->
                <section class="miniMap">
                    <section class="mapGrid">
                        <ol class="gridOL">
                                <li class="firstGrid">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>16</li>
                                <li>17</li>
                                <li>18</li>
                                <li>19</li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li>23</li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                                <li>32</li>
                                <li>33</li>
                                <li>34</li>
                                <li>35</li>
                                <li>36</li>
                                <li>37</li>
                                <li>38</li>
                                <li>39</li>
                                <li>40</li>
                                <li>41</li>
                                <li>42</li>
                                <li>43</li>
                                <li>44</li>
                                <li>45</li>
                                <li>46</li>
                                <li>47</li>
                                <li>48</li>
                                <li>49</li>
                                <li>50</li>
                                <li>51</li>
                                <li>52</li>
                                <li>53</li>
                                <li>54</li>
                                <li>55</li>
                                <li>56</li>
                                <li>57</li>
                                <li>58</li>
                                <li>59</li>
                                <li>60</li>
                                <li>61</li>
                                <li>62</li>
                                <li>63</li>
                                <li>64</li>
                                <li>65</li>
                                <li>66</li>
                                <li>67</li>
                                <li>68</li>
                                <li>69</li>
                                <li>70</li>
                                <li>71</li>
                                <li>72</li>
                                <li>73</li>
                                <li>74</li>
                                <li>75</li>
                                <li>76</li>
                                <li>77</li>
                                <li>78</li>
                                <li>79</li>
                                <li>80</li>
                                <li>81</li>
                                <li>82</li>
                                <li>83</li>
                                <li>84</li>
                                <li>85</li>
                                <li>86</li>
                                <li>87</li>
                                <li>88</li>
                                <li>89</li>
                                <li>90</li>
                                <li>91</li>
                                <li>92</li>
                                <li>93</li>
                                <li>94</li>
                                <li>95</li>
                                <li>96</li>
                                <li>97</li>
                                <li>98</li>
                                <li>99</li>
                                <li>100</li>
                        </ol>
                    </section>
                    <span class="grid">Grid location: </span>
                </section>
            </section>
                            <!-- UI BUTTONS -->
                <button class="leftArrow threeButton"><span class="arrow lArrow"></span></button>
                <button class="centerB threeButton"><span class="circle"></span></button>
                <button class="rightArrow threeButton"><span class="arrow rArrow"></span></button>
            
        </section>

        <section class="choreList">
            <h1 class="center chores">Chore List</h1>
            <h2 class="center username"><%= user.userName %> has <%= left %> things left to do this season</h2>
            <form class="center" action="/todos/createTodo" method='POST'>
                <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                <input type="submit">
            </form>
                                    <!-- Annual CHORES todo-->
            <ul class="choresUl">

                <% todos.forEach( el => { %>
                <li class='todoItem <%= el.completed === true ? 'completed' : 'not'%>' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                </li>
                <% }) %>

            </ul>

        

        
        </section>
        
    </main>
    
    <script src="js/main.js"></script>
</body>
</html>